project_name = "enterprise"
environment  = "prod"
location     = "westeurope"

tags = {
  Proyecto    = "InfraestructuraEmpresarial"
  ManagedBy   = "Terraform"
  Empresa     = "MiEmpresa"
  Responsable = "equipo-infra"
}

hub_vnet_address_space         = ["10.0.0.0/16"]
woocommerce_vnet_address_space = ["10.1.0.0/16"]
corporate_vnet_address_space   = ["10.2.0.0/16"]

aks_node_count       = 2
aks_node_vm_size     = "Standard_D2s_v3"
mysql_sku_name       = "B_Standard_B1ms"
mysql_admin_username = "woo_admin"
mysql_admin_password = "CAMBIA_ESTA_CONTRASEÑA_SEGURA!"

purview_managed_rg_name = "rg-purview-managed"
arc_enabled             = true

